<% include ./partials/header.ejs %>
	<main class="main-content">
		<div class="page">
			<div class="container">
				<h2 class="entry-title">About J.S. Custom Builders</h2>
				
				<p>J.S. Custom builders is a locally owned and operated business with 10 years of experience building custom homes and cottages in the Muskoka/ Parry Soundarea. <br />Our mission is to provide our clients with the highest standard of quality craftsmanship , while committed to maintaining the utmost customer service.<br /> From design straight through to completion we have an extensive team of employees and sub trades to keep your project running smoothly. It is our goal to make your building experience enjoyable from start to finish.</p>
				
				<hr class="separator">
				
				<h2 class="sectiont-title">What can we do for you?</h2>
				<div class="row">
					<div class="col-md-3">
						<div class="feature-numbered">
							<div class="num">1</div>
							<h2 class="feature-title">accusamus iusto</h2>
							<p>Sed ut perspiciatis unde omnis iste natus aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature-numbered">
							<div class="num">2</div>
							<h2 class="feature-title">accusamus iusto</h2>
							<p>Sed ut perspiciatis unde omnis iste natus aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature-numbered">
							<div class="num">3</div>
							<h2 class="feature-title">accusamus iusto</h2>
							<p>Sed ut perspiciatis unde omnis iste natus aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature-numbered">
							<div class="num">4</div>
							<h2 class="feature-title">accusamus iusto</h2>
							<p>Sed ut perspiciatis unde omnis iste natus aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam.</p>
						</div>
					</div>
				</div>
				
				<hr class="separator">
				
				<h2 class="section-title">testimonials</h2>
				<div class="row">
					<div class="col-md-8">
						<blockquote class="testimonial">
							<p>J.S Custom Builders provided us with exceptional service from the beginning of the job right to the end. Communication is key and these guys know exactly what they are doing! Thank You.</p>
							<cite>James & Wendy</cite>
						</blockquote>
					</div>
				</div>
			</div>
		</div> <!-- .page -->

	</main> <!-- .main-content -->
<% include ./partials/footer.ejs %>
	