<% include ./partials/header.ejs %>
	<div class="hero hero-slider">
		<ul class="slides">
			<% for(let i = 1; i <6; i++) { %>
			<li data-bg-image="../images/home_slides/js-slide<%=i%>.jpg">
				<div class="container">
					<div class="slide-title">
						<span>build</span> <br>
						<span>your ideal house</span>
					</div>
				</div>
			</li>
			<% } %>
		</ul> <!-- .slides -->
	</div> <!-- .hero-slider -->

	<main class="main-content">
		<div class="fullwidth-block">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						
						<h3 class="section-title">About Us</h3>
						<p>J.S. Custom builders is a locally owned and operated business with 10 years of experience building custom homes and cottages in the Muskoka/ Parry Soundarea.</p>
						<a href="/about" class="button">Read more</a>
						
					</div>
					<div class="col-md-4">
						
						<h3 class="section-title">Portfolio</h3>
						<p>There are many pictures of our project, and it shows what we can offer you.</p>
						<a href="/portfolio" class="button">Read more</a>
						
					</div>
					<div class="col-md-4">
						
						<h3 class="section-title">Contact Us</h3>
						<p>If you need any help, don't hesitate. Your messages are always welcomed.</p>
						<a href="/contact" class="button">Read more</a>
						
					</div>
				</div>

				<hr class="separator">

				<div class="row">
					<div class="col-md-6">
						<h2 class="section-title">Testimonials</h2>
						<div class="testimonial-slider">
							<ul class="slides">
								<li>
									<blockquote>
										<p>J.S Custom Builders provided us with exceptional service from the beginning of the job right to the end. Communication is key and these guys know exactly what they are doing! Thank You.</p>
										<cite>James & Wendy</cite>
									</blockquote>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<h2 class="section-title">Latest News</h2>
						<ul class="news">
							<li>
								<div class="date">27.08.2013</div>
								<h3 class="entry-title"><a href="/news">Join J.S. Custom builders and thousands of other cottage exhibitors from November 1-3 at the metro Toronto convention centre for the fall cottage life show. J.S. Custom Builders will be there show casing their Custom timber frame packages alongside their partner the B.C. Timber frame Co. Come down and check out our products and services. We would love to…</a></h3>
							</li>
						</ul>
					</div>
				</div> <!-- .row -->
				
			</div> <!-- .container -->
		</div> <!-- .fullwidth-block -->
	</main> <!-- .main-content -->
<% include ./partials/footer.ejs %>
	