<% include ./partials/header.ejs %>
	<main class="main-content">
		<div class="page">
			<div class="container">
				<!-- <h2 class="section-title">September</h2> -->
				<ul class="news-list">
					<li>
						<figure><img src="../images/news-image.png" alt=""></figure>
						<h3 class="entry-title"><a>Join J.S Custom Builders at the Fall Cottage Life Show</a></h3>
						<div class="date">27.08.2013</div>
						<p>Join J.S. Custom builders and thousands of other cottage exhibitors from November 1-3 at the metro Toronto convention centre for the fall cottage life show.<br />J.S. Custom Builders will be there show casing their Custom timber frame packages alongside their partner the B.C. Timber frame Co. Come down and check out our products and services. We would love to chat with you regarding any of your building projects.</p>
						<a href="http://cottagelife.com/shows/show-info?pg=home">Visit The Fall Cottage Life Show Website</a>
						<br />
						<br />
						<h3>Show Information</h4>
						<p><strong>Show Dates/Hours</strong><br />Friday, November 1 11:00am – 8:00pm<br />Saturday, November 2 9:00am – 6:00pm<br />Sunday, November 3 10:00am – 5:00pm</p>
						<p><strong>Admission</strong><br />Adults (18+): $15<br />Youth (13-17): $8<br />Weekend Pass: $20<br />Kids 12 and under: free</p>
						<p><strong>Venue Information</strong><br />International Centre, Toronto<br />Free parking for 5,000 cars<br />6900 Airport Road at Derry Road<br />Enter at Hall 5</p>
						<a href="http://www.internationalcentre.com/about-us/contact-us/directions.html" target="_blank">Get directions</a>
					</li>
				</ul>
				
				<!-- <a href="#" class="button">Show Older News</a> -->
			</div>
		</div> <!-- .page -->

	</main> <!-- .main-content -->
<% include ./partials/footer.ejs %>
	